%link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :type => "text/css"}

.container
	%h1 Go on, click me!
	.search-box-container
		%button.submit
			%i.fa.fa-search	
		%input.search-box
	%h3.response